.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: firebrick;
}

.title {
    font-size: 60px;
    color: white;
}

.containerInput {
    padding: 10px;
    background-color: darkgray;
    margin: 10px;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

input {
    background-color: transparent;
    border: 0;
    color: white;
    outline: none; /*Dá uma pesquisada, mas é legal*/
    font-size: 20px;
    margin-right: 10px;
}

input::placeholder { /*Esse code é para pegar a propriedade de placeholder*/
    color: rgb(14, 14, 14);
}

.botao {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botao:hover {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 500px;
    border-radius: 8px;
    padding: 10px;
}

.main h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

@media (max-width: 620px) {
    .main {
        width: 80%;
    }
}